header#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: #ffa781;
    color: rgb(95, 92, 10);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  header#nav img.logo {
    width: 50px;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  header nav ul li a:hover {
    color: #fca311;
  }
  